
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;500&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

}
body{
    
    font-family: 'Fraunces', serif;
    background-color: var(--Cream);

}
.main-container{
 
    background-color: var(--White);
    width: 340px;
    height: 620px;
    margin: 40px auto;
    border-radius: 10px;
  
    
}

.main-img{
    height: 250px;
    width: 340px;
    background-image: url("./images/image-product-mobile.jpg");
    background-position: center;
    background-size:cover
}

.main-container-img{
  
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.detaills-product{
    padding-left: 10px;
    padding-right: 10px;
}

.detaills-product__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;/* SEPARACION ENTRE LETRAS */
    color: var(--Dark-grayish-blue);
    
}
.detaills-product__title{
    font-size: 2em;
    margin-bottom: 20px;
}
.detaills-product__descripcion{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    color: var(--Dark-grayish-blue);
    font-size: 0.9em;
    line-height: 23px; /*/ espacio interlienado */


}
.detaills-product__price{
    display:flex;
    align-items: center;
}
.detaills-product__new-price{
    color: var(--Dark-cyan);
    font-size: 2.3em;
}
.detaills-product__old-price{
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    text-decoration: line-through;
    padding-left: 20px;

}
.detaills-product__add-card{
    margin-top: 25px;
    width: 100%;
    height: 50px;
    background-color: var(--Dark-cyan);
    border-radius: 10px;
    color: var(--White);
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    
}

@media screen and (min-width: 1440px){

 
    .main-container{
 
        
        width: 660px;
        height: 480px;
        display: flex;          
    }
    .main-container-img{
  
      
        height: 100%;
        border-top-right-radius: 0px;
    }
    .detaills-product__subtitle{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .main-img{
        height: 480px;
        width: 330px;
        background-image: url("./images/image-product-desktop.jpg");
        background-position: center;
        background-size:cover
    }
    .detaills-product{
        padding-left: 25px;
        padding-right: 20px;
    }
    .detaills-product__descripcion{
        padding-top: 10px;
        margin-bottom: 50px;   
    }
    .detaills-product__add-card{
        margin-top: 45px;
       
        
    }
    
    
}
